*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  text-size-adjust: none;
}

body {
  min-height: 100vh;
}

img, picture, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}
