keybinds clear-defaults=true {
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
    }
    pane {
        bind "Left" { MoveFocus "Left"; }
        bind "Down" { MoveFocus "Down"; }
        bind "Up" { MoveFocus "Up"; }
        bind "Right" { MoveFocus "Right"; }
        bind "c" { SwitchToMode "RenamePane"; PaneNameInput 0; }
        bind "d" { NewPane "Down"; SwitchToMode "Locked"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Locked"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Locked"; }
        bind "h" { MoveFocus "Left"; }
        bind "j" { MoveFocus "Down"; }
        bind "k" { MoveFocus "Up"; }
        bind "l" { MoveFocus "Right"; }
        bind "n" { NewPane; SwitchToMode "Locked"; }
        bind "p" { SwitchToMode "Normal"; }
        bind "r" { NewPane "Right"; SwitchToMode "Locked"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "Locked"; }
        bind "x" { CloseFocus; SwitchToMode "Locked"; }
        bind "z" { TogglePaneFrames; SwitchToMode "Locked"; }
        bind "Tab" { SwitchFocus; }
    }
    tab {
        bind "Left" { GoToPreviousTab; }
        bind "Down" { GoToNextTab; }
        bind "Up" { GoToPreviousTab; }
        bind "Right" { GoToNextTab; }
        bind "1" { GoToTab 1; SwitchToMode "Locked"; }
        bind "2" { GoToTab 2; SwitchToMode "Locked"; }
        bind "3" { GoToTab 3; SwitchToMode "Locked"; }
        bind "4" { GoToTab 4; SwitchToMode "Locked"; }
        bind "5" { GoToTab 5; SwitchToMode "Locked"; }
        bind "6" { GoToTab 6; SwitchToMode "Locked"; }
        bind "7" { GoToTab 7; SwitchToMode "Locked"; }
        bind "8" { GoToTab 8; SwitchToMode "Locked"; }
        bind "9" { GoToTab 9; SwitchToMode "Locked"; }
        bind "[" { BreakPaneLeft; SwitchToMode "Locked"; }
        bind "]" { BreakPaneRight; SwitchToMode "Locked"; }
        bind "b" { BreakPane; SwitchToMode "Locked"; }
        bind "h" { GoToPreviousTab; }
        bind "j" { GoToNextTab; }
        bind "k" { GoToPreviousTab; }
        bind "l" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "Locked"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "Locked"; }
        bind "t" { SwitchToMode "Normal"; }
        bind "x" { CloseTab; SwitchToMode "Locked"; }
        bind "Tab" { ToggleTab; }
    }
    resize {
        bind "Left" { Resize "Increase Left"; }
        bind "Down" { Resize "Increase Down"; }
        bind "Up" { Resize "Increase Up"; }
        bind "Right" { Resize "Increase Right"; }
        bind "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "=" { Resize "Increase"; }
        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }
        bind "h" { Resize "Increase Left"; }
        bind "j" { Resize "Increase Down"; }
        bind "k" { Resize "Increase Up"; }
        bind "l" { Resize "Increase Right"; }
        bind "r" { SwitchToMode "Normal"; }
    }
    move {
        bind "Left" { MovePane "Left"; }
        bind "Down" { MovePane "Down"; }
        bind "Up" { MovePane "Up"; }
        bind "Right" { MovePane "Right"; }
        bind "h" { MovePane "Left"; }
        bind "j" { MovePane "Down"; }
        bind "k" { MovePane "Up"; }
        bind "l" { MovePane "Right"; }
        bind "m" { SwitchToMode "Normal"; }
        bind "n" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "Tab" { MovePane; }
    }
    scroll {
        bind "e" { EditScrollback; SwitchToMode "Locked"; }
        bind "f" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Alt h" { MoveFocusOrTab "Left"; SwitchToMode "Locked"; }
        bind "Alt j" { MoveFocus "Down"; SwitchToMode "Locked"; }
        bind "Alt k" { MoveFocus "Up"; SwitchToMode "Locked"; }
        bind "Alt l" { MoveFocusOrTab "Right"; SwitchToMode "Locked"; }
        bind "s" { SwitchToMode "Normal"; }
    }
    search {
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "n" { Search "down"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "p" { Search "up"; }
        bind "w" { SearchToggleOption "Wrap"; }
    }
    session {
        bind "c" {
            LaunchOrFocusPlugin "configuration" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "Locked"
        }
        bind "d" { Detach; }
        bind "o" { SwitchToMode "Normal"; }
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "Locked"
        }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "Locked"
        }
    }
    shared_among "normal" "locked" {
        bind "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt =" { Resize "Increase"; }
        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
        bind "Alt f" { ToggleFloatingPanes; }
        bind "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt i" { MoveTab "Left"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt l" { MoveFocusOrTab "Right"; }
        bind "Alt n" { NewPane; }
        bind "Alt o" { MoveTab "Right"; }
    }
    shared_except "locked" "renametab" "renamepane" {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }
    }
    shared_except "locked" "entersearch" {
        bind "Enter" { SwitchToMode "Locked"; }
    }
    shared_except "locked" "entersearch" "renametab" "renamepane" {
        bind "Esc" { SwitchToMode "Locked"; }
    }
    shared_except "locked" "entersearch" "renametab" "renamepane" "move" {
        bind "m" { SwitchToMode "Move"; }
    }
    shared_except "locked" "entersearch" "search" "renametab" "renamepane" "session" {
        bind "o" { SwitchToMode "Session"; }
    }
    shared_except "locked" "tab" "entersearch" "renametab" "renamepane" {
        bind "t" { SwitchToMode "Tab"; }
    }
    shared_except "locked" "tab" "scroll" "entersearch" "renametab" "renamepane" {
        bind "s" { SwitchToMode "Scroll"; }
    }
    shared_among "normal" "resize" "tab" "scroll" "prompt" "tmux" {
        bind "p" { SwitchToMode "Pane"; }
    }
    shared_except "locked" "resize" "pane" "tab" "entersearch" "renametab" "renamepane" {
        bind "r" { SwitchToMode "Resize"; }
    }
    shared_among "scroll" "search" {
        bind "PageDown" { PageScrollDown; }
        bind "PageUp" { PageScrollUp; }
        bind "Left" { PageScrollUp; }
        bind "Down" { ScrollDown; }
        bind "Up" { ScrollUp; }
        bind "Right" { PageScrollDown; }
        bind "Ctrl b" { PageScrollUp; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "d" { HalfPageScrollDown; }
        bind "Ctrl f" { PageScrollDown; }
        bind "h" { PageScrollUp; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "l" { PageScrollDown; }
        bind "u" { HalfPageScrollUp; }
    }
    entersearch {
        bind "Ctrl c" { SwitchToMode "Scroll"; }
        bind "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }
    shared_among "renametab" "renamepane" {
        bind "Ctrl c" { SwitchToMode "Locked"; }
    }
    renamepane {
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }
}

plugins {
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}

load_plugins {
}

theme "marble"

default_mode "locked"

show_startup_tips false
